.fa {
  padding: 7px;
  border-radius: 50%;
  width: 17px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  isolation: isolate;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-facebook:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-twitter:hover {
  opacity: 0.7;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-youtube:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #c00271;
  color: white;
}

.fa-instagram:hover {
  opacity: 0.7;
}

.footer {
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: rgba(128, 128, 128, 0.15);
  /* gray with 25% opacity */
}